TRANSACTIONAL_EMAIL_SERVICE_DATABASE_URL=postgresql://user:password@host/dbname
TRANSACTIONAL_EMAIL_SERVICE_API_KEY=your-secret-api-key
EMAIL_GATEWAY_SERVICE_URL=https://email-gateway.distribute.you
EMAIL_GATEWAY_SERVICE_API_KEY=your-email-gateway-service-api-key
CLIENT_SERVICE_URL=http://localhost:3010
CLIENT_SERVICE_API_KEY=your-client-service-api-key
BILLING_SERVICE_URL=http://localhost:3012
BILLING_SERVICE_API_KEY=your-billing-service-api-key
PORT=3008
